

<link href="~/css/utility.css" rel="stylesheet" />

<h1>Employee Information</h1>

<div id="div">
    <table style="border:dashed" class="tblEmployee">
        <thead style="background-color:blue; color:white" >
            <tr>
                <td>Employee ID</td>
                <td>Employee Name</td>
                <td>Age</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1001</td>
                <td>Tarsem Singh</td>
                <td>32</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>Deepak</td>
                <td>30</td>
            </tr>
        </tbody>
    </table>

</div>